//Font-Family
$fontText: "Dosis";

//Main colors
$mainColor: #37151e;
$secondaryColor: #02ffa3;

//Secondary colors
$mainColor2: #7f3fb6;
$secondaryColor2: #bc6aff;

//Terciary colors
$mainColor3: rgb(255, 255, 255);
$secondaryColor3: rgb(0, 0, 0);

//Forth colors set
$mainColor4: rgb(0, 65, 118);
$secondaryColor4: rgb(0, 0, 0);